apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: chat-ingress
spec:
  rules:
  - host: emmanuelcodinghub.com
    http:
      paths:
      - path: /notes-crud
        pathType: Prefix
        backend:
          service:
            name: chat-app
            port:
              number: 8000
  tls:
  - hosts:
    - emmanuelcodinghub.com
    secretName: tls-secret-name
